<div class="container">
  <h3 class="log_in">Log In to Gamer Match</h3>

  <%= form_tag sessions_path, class: "form_helper" do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= button_tag :Submit %>
  <% end %>
</div>
