<form action="/users" method="get">
  <input type="hidden" name="_method" value="post">
  <%= token_tag %>
  <table>
    <tr>
      <td>User name:</td>
      <td><input type="text" name="user[username]" value="<%= @user.username %>"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="user[email]" value="<%= @user.email %>"></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input type="text" name="user[age]" value="<%= @user.age %>"></td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><input type="text" name="user[location]" value="<%= @user.location %>"></td>
    </tr>
    <tr>
      <td>Phone Number:</td>
      <td><input type="text" name="user[phone_number]" value="<%= @user.phone_number %>"></td>
    </tr>
    <tr>
      <td colspan=2><button>Make changes</button></td>
    </tr>
  </table>
</form>
