<div class="container">
  <div class="profile_details">
    <h2><%= @user.username %>'s Profile</h2>
    <h3><%= @user.age %> years old from <%= @user.location %></h3>
    <a href="mailto:<%= @user.email %>?subject=GamerMatch request"><button>Email me for a Match!</button></a>
    <h3>Playing on:</h3>
    <ul>
      <% @platforms.each do |p| %>
      <li><%= p.platform_name %></li>
      <% end %>
    </ul>
    <hr>
    <h3>Video Game Collection:</h3>
  </div>

  <div class="games_container">
    <% @games.each do |game| %>
    <div class="index_games">
      <h3><a href="/users/<%= @user.id %>/games/<%= game.id %>"><%= game.title %></a></h3>
      <h4><%= game.platforms.map(&:platform_name).uniq.join(", ") %></h4>
      <img src="<%= game.image_url %>"><br>
      <a href="/games/playing/<%= game.id %>"><button>Who else is playing?</button></a>
    </div>
    <% end %>
  </div>
  <hr>

  <div class="profile_buttons">
    <ul>
    <% if current_user.id == @user.id %>
    <li><a href="/users/<%= @user.id %>/edit"><button>Edit Your Profile</button></a></li>
    <li><form action="/users/<%= @user.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= token_tag %>
      <button type="submit">Delete Your Gamer Match Profile</button>
    </form></li>
    <% else %>
    <% end %>
    </ul>
  </div>
</div>
