<div class="profile_details"><h1><%= @user.username %>'s Profile</h1>
<h3><%= @user.age %> years old from <%= @user.location %></h3>
<hr>
<h3>Video Game Collection:</h3>
</div>

<div class="container">
  <% @games.each do |game| %>
  <div class="index_games">
    <h3><a href="/users/<%= @user.id %>/games/<%= game.id %>"><%= game.title %></a></h3>
    <img src="<%= game.image_url %>">
  </div>
  <% end %>
</div>
<hr>

<a href="/users/<%= @user.id %>/edit">Edit Your Profile</a>
