<div class="container">
  <div class="users_detail">
    <h2>From your personal collection:</h2>
    <hr>
    <div class="detail_img">
      <img src="<%= @game[:image_url] %>">
    </div>
    <div class="game_details">
      <h3><%= @game[:title] %></h3>
      <h3><%= @game[:description] %></h3>
      <h3>Release Date: <%= @game[:release_date] %></h3>
      <h3>Publisher: <%= @game[:publisher] %></h3>
      <h3>Developer: <%= @game[:developer] %></h3>
      <h3>Genre: <%= @game[:genre] %></h3>
      <h3>Platform: <%= @platform[:platform_name] %></h3>
    </div>

    <% if current_user.id == @user.id %>
      <form action="/users/<%= @user.id %>/games/<%= @game.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= token_tag %>
        <button type="submit">Delete from Collection</button>
      </form>
    <% else %>
      <%= render "savegame" %>
    <% end %>
  </div>
  <hr>
</div>
