<img src="<%= @games[:image_url] %>">
<h3><%= @games[:title] %></h3>
<h3><%= @games[:description] %></h3>
<h3><%= @games[:rel_date] %></h3>
<h3><%= @games[:publisher] %></h3>
<h3><%= @games[:genre] %></h3>
