<div class="container">
  <h2 class="search_title">
    <%= @games[:title] %>
  </h2>
  <div class="search_img">
    <img src="<%= @games[:image_url] %>">
  </div>
  <div class="search_details">

    <% if current_user %>
    <%= render "savegame" %>
    <% else %>
    <h3><a href="<%= log_in_path %>"><button>Log In</button></a> or <a href="<%= sign_up_path %>"><button>Sign Up</button></a> to add to your collection</h3>
    <% end %>

    <h3><%= @games[:description] %></h3>
    <h3>Release Date: <%= @games[:release_date] %></h3>
    <h3>Publisher: <%= @games[:publisher] %></h3>
    <h3>Developer: <%= @games[:developer] %></h3>
    <h3>Genre: <%= @games[:genre] %></h3>
  </div>
</div>
