<!DOCTYPE html>
<html>
<head>
  <title>GamerMatch</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "nav" %>
  <div class="flash">
    <h4>
      <%= flash.now[:alert] %>
    </h4>
    <h4>
      <%= flash.now[:notice] %>
    </h4>
  </div>

  <%= yield %>

</body>
</html>
